USE [master]
GO
/****** Object:  Database [ComponentsSellerDB]    Script Date: 07.05.2025 17:29:22 ******/
CREATE DATABASE [ComponentsSellerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComponentsSellerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ComponentsSellerDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComponentsSellerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ComponentsSellerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComponentsSellerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComponentsSellerDB]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Case]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Case](
	[ID] [int] IDENTITY(8000,1) NOT NULL,
	[BrandID] [int] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[Length] [int] NOT NULL,
	[SupplyLength] [int] NOT NULL,
	[GPULength] [int] NOT NULL,
	[CoolerLength] [int] NOT NULL,
	[FormFactorID] [int] NOT NULL,
 CONSTRAINT [PK__Case__3214EC277E8F9D4D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chipset]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chipset](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Chipset] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoolerType]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoolerType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CoolerType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cooling]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cooling](
	[ID] [int] IDENTITY(7000,1) NOT NULL,
	[BrandID] [int] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[CoolerTypeID] [int] NOT NULL,
	[Socket] [nvarchar](50) NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[Length] [int] NOT NULL,
	[RPM] [int] NOT NULL,
 CONSTRAINT [PK__Cooling__3214EC279D137156] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CPU]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPU](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[BrandID] [int] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Voltage] [int] NOT NULL,
	[SocketID] [int] NOT NULL,
	[Cores] [int] NOT NULL,
	[Threads] [int] NOT NULL,
	[FrequencyGHz] [decimal](3, 2) NOT NULL,
	[L1] [int] NOT NULL,
	[L2] [int] NOT NULL,
	[HasTurboBoost] [int] NOT NULL,
	[MaxFrequency] [decimal](3, 2) NULL,
 CONSTRAINT [PK__CPU__3214EC2766C196F3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disk]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disk](
	[ID] [int] IDENTITY(6000,1) NOT NULL,
	[BrandID] [int] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[DiskTypeID] [int] NOT NULL,
	[Space] [int] NOT NULL,
 CONSTRAINT [PK__Disk__3214EC27B5324DBD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiskType]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiskType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DiskType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormFactor]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormFactor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FormFactor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GPU]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPU](
	[ID] [int] IDENTITY(2000,1) NOT NULL,
	[BrandID] [int] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Voltage] [int] NOT NULL,
	[VideoMemoryGB] [int] NOT NULL,
	[MemoryFrequencyMHz] [decimal](18, 0) NOT NULL,
	[CoreFrequencyMHz] [decimal](18, 0) NOT NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[Length] [int] NULL,
 CONSTRAINT [PK__GPU__3214EC27D965EFF0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motherboard]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motherboard](
	[ID] [int] IDENTITY(5000,1) NOT NULL,
	[BrandID] [int] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[SocketID] [int] NOT NULL,
	[ChipsetID] [int] NOT NULL,
	[RAMTypeID] [int] NOT NULL,
	[RAMSlots] [int] NOT NULL,
	[MaxRAMCountGB] [int] NOT NULL,
	[MaxRAMFrequencyMHz] [int] NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[SATASlots] [int] NOT NULL,
	[M2Slots] [int] NOT NULL,
	[NVMe] [int] NOT NULL,
	[FormFactorID] [int] NULL,
 CONSTRAINT [PK__Motherbo__3214EC2751912A03] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TotalPrice] [decimal](18, 0) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK__Order__3214EC27A7A99DCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Part]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Part](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CPUID] [int] NULL,
	[GPUID] [int] NULL,
	[SupplyID] [int] NULL,
	[RAMID] [int] NULL,
	[MotherboardID] [int] NULL,
	[DiskID] [int] NULL,
	[CoolingID] [int] NULL,
	[CaseID] [int] NULL,
	[Image] [nvarchar](300) NULL,
	[QuantityInStock] [int] NOT NULL,
 CONSTRAINT [PK__Part__3214EC271670842D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PartID] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAM]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAM](
	[ID] [int] IDENTITY(4000,1) NOT NULL,
	[BrandID] [int] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[RAMTypeID] [int] NOT NULL,
	[MemoryCountGB] [int] NOT NULL,
	[MemoryFrequencyMHz] [int] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK__RAM__3214EC27DB8D8A4A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAMType]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAMType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RAMType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Socket]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Socket] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[ID] [int] NOT NULL,
	[PartID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supply]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supply](
	[ID] [int] IDENTITY(3000,1) NOT NULL,
	[BrandID] [int] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Wattage] [int] NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[Length] [int] NOT NULL,
	[FormFactorID] [int] NULL,
 CONSTRAINT [PK__Supply__3214EC278A8EC012] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportedFormFactorMotherboard]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportedFormFactorMotherboard](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NOT NULL,
	[FormFactorID] [int] NOT NULL,
 CONSTRAINT [PK_SupportedFormFactorMotherboard] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportedFormFactorSupply]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportedFormFactorSupply](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CaseID] [int] NOT NULL,
	[FormFactorID] [int] NOT NULL,
 CONSTRAINT [PK_SupportedFormFactor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportedSockets]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportedSockets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CoolerID] [int] NOT NULL,
	[SocketID] [int] NOT NULL,
 CONSTRAINT [PK_SupportedSockets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07.05.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK__User__3214EC272851B6FF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([ID], [Name]) VALUES (1, N'Intel')
INSERT [dbo].[Brand] ([ID], [Name]) VALUES (2, N'AMD')
INSERT [dbo].[Brand] ([ID], [Name]) VALUES (3, N'NVIDIA')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Case] ON 

INSERT [dbo].[Case] ([ID], [BrandID], [Model], [Width], [Height], [Length], [SupplyLength], [GPULength], [CoolerLength], [FormFactorID]) VALUES (8000, 16, N'H510', 210, 460, 428, 180, 381, 165, 1)
INSERT [dbo].[Case] ([ID], [BrandID], [Model], [Width], [Height], [Length], [SupplyLength], [GPULength], [CoolerLength], [FormFactorID]) VALUES (8001, 32, N'Meshify C', 210, 440, 395, 175, 315, 170, 1)
INSERT [dbo].[Case] ([ID], [BrandID], [Model], [Width], [Height], [Length], [SupplyLength], [GPULength], [CoolerLength], [FormFactorID]) VALUES (8002, 31, N'PC-O11 Dynamic', 272, 446, 445, 190, 420, 155, 2)
SET IDENTITY_INSERT [dbo].[Case] OFF
GO
SET IDENTITY_INSERT [dbo].[Chipset] ON 

INSERT [dbo].[Chipset] ([ID], [Name]) VALUES (1, N'B550')
INSERT [dbo].[Chipset] ([ID], [Name]) VALUES (2, N'B560')
INSERT [dbo].[Chipset] ([ID], [Name]) VALUES (3, N'Z690')
SET IDENTITY_INSERT [dbo].[Chipset] OFF
GO
SET IDENTITY_INSERT [dbo].[CoolerType] ON 

INSERT [dbo].[CoolerType] ([ID], [Type]) VALUES (1, N'Tower')
INSERT [dbo].[CoolerType] ([ID], [Type]) VALUES (2, N'Water')
INSERT [dbo].[CoolerType] ([ID], [Type]) VALUES (3, N'Case')
SET IDENTITY_INSERT [dbo].[CoolerType] OFF
GO
SET IDENTITY_INSERT [dbo].[Cooling] ON 

INSERT [dbo].[Cooling] ([ID], [BrandID], [Model], [CoolerTypeID], [Socket], [Width], [Height], [Length], [RPM]) VALUES (7000, 12, N'Hyper 212', 1, N'LGA1700/AM4', 120, 158, 120, 2000)
INSERT [dbo].[Cooling] ([ID], [BrandID], [Model], [CoolerTypeID], [Socket], [Width], [Height], [Length], [RPM]) VALUES (7001, 27, N'NH-D15', 1, N'LGA1700/AM4', 150, 165, 150, 1500)
INSERT [dbo].[Cooling] ([ID], [BrandID], [Model], [CoolerTypeID], [Socket], [Width], [Height], [Length], [RPM]) VALUES (7002, 10, N'iCUE H150i ELITE', 2, N'LGA1700/AM4', 277, 120, 397, 2400)
SET IDENTITY_INSERT [dbo].[Cooling] OFF
GO
SET IDENTITY_INSERT [dbo].[CPU] ON 

INSERT [dbo].[CPU] ([ID], [BrandID], [Model], [Voltage], [SocketID], [Cores], [Threads], [FrequencyGHz], [L1], [L2], [HasTurboBoost], [MaxFrequency]) VALUES (1000, 1, N'Core i5-12400F', 65, 4, 6, 12, CAST(2.50 AS Decimal(3, 2)), 480, 7, 1, CAST(4.40 AS Decimal(3, 2)))
INSERT [dbo].[CPU] ([ID], [BrandID], [Model], [Voltage], [SocketID], [Cores], [Threads], [FrequencyGHz], [L1], [L2], [HasTurboBoost], [MaxFrequency]) VALUES (1001, 2, N'Ryzen 5 5600X', 65, 2, 6, 12, CAST(3.70 AS Decimal(3, 2)), 512, 3, 1, CAST(4.60 AS Decimal(3, 2)))
INSERT [dbo].[CPU] ([ID], [BrandID], [Model], [Voltage], [SocketID], [Cores], [Threads], [FrequencyGHz], [L1], [L2], [HasTurboBoost], [MaxFrequency]) VALUES (1002, 1, N'Core i7-12700K', 125, 4, 12, 20, CAST(3.60 AS Decimal(3, 2)), 960, 12, 1, CAST(5.00 AS Decimal(3, 2)))
SET IDENTITY_INSERT [dbo].[CPU] OFF
GO
SET IDENTITY_INSERT [dbo].[Disk] ON 

INSERT [dbo].[Disk] ([ID], [BrandID], [Model], [DiskTypeID], [Space]) VALUES (6000, 24, N'970 EVO Plus 500GB', 2, 500)
INSERT [dbo].[Disk] ([ID], [BrandID], [Model], [DiskTypeID], [Space]) VALUES (6001, 35, N'Blue SN570 1TB', 2, 1000)
INSERT [dbo].[Disk] ([ID], [BrandID], [Model], [DiskTypeID], [Space]) VALUES (6002, 36, N'BarraCuda 2TB', 1, 2000)
SET IDENTITY_INSERT [dbo].[Disk] OFF
GO
SET IDENTITY_INSERT [dbo].[DiskType] ON 

INSERT [dbo].[DiskType] ([ID], [Type]) VALUES (1, N'HDD SATA')
INSERT [dbo].[DiskType] ([ID], [Type]) VALUES (2, N'SSD M.2')
SET IDENTITY_INSERT [dbo].[DiskType] OFF
GO
SET IDENTITY_INSERT [dbo].[FormFactor] ON 

INSERT [dbo].[FormFactor] ([ID], [Type]) VALUES (1, N'Mid Tower')
INSERT [dbo].[FormFactor] ([ID], [Type]) VALUES (2, N'Full Tower')
INSERT [dbo].[FormFactor] ([ID], [Type]) VALUES (3, N'Open Frame')
SET IDENTITY_INSERT [dbo].[FormFactor] OFF
GO
SET IDENTITY_INSERT [dbo].[GPU] ON 

INSERT [dbo].[GPU] ([ID], [BrandID], [Model], [Voltage], [VideoMemoryGB], [MemoryFrequencyMHz], [CoreFrequencyMHz], [Width], [Height], [Length]) VALUES (2000, 3, N'GeForce RTX 3060', 170, 12, CAST(15000 AS Decimal(18, 0)), CAST(1320 AS Decimal(18, 0)), 50, 112, 242)
INSERT [dbo].[GPU] ([ID], [BrandID], [Model], [Voltage], [VideoMemoryGB], [MemoryFrequencyMHz], [CoreFrequencyMHz], [Width], [Height], [Length]) VALUES (2001, 2, N'Radeon RX 6600', 132, 8, CAST(14000 AS Decimal(18, 0)), CAST(2044 AS Decimal(18, 0)), 40, 120, 240)
INSERT [dbo].[GPU] ([ID], [BrandID], [Model], [Voltage], [VideoMemoryGB], [MemoryFrequencyMHz], [CoreFrequencyMHz], [Width], [Height], [Length]) VALUES (2002, 3, N'GeForce RTX 3070', 220, 8, CAST(14000 AS Decimal(18, 0)), CAST(1500 AS Decimal(18, 0)), 50, 112, 242)
SET IDENTITY_INSERT [dbo].[GPU] OFF
GO
SET IDENTITY_INSERT [dbo].[Motherboard] ON 

INSERT [dbo].[Motherboard] ([ID], [BrandID], [Model], [SocketID], [ChipsetID], [RAMTypeID], [RAMSlots], [MaxRAMCountGB], [MaxRAMFrequencyMHz], [Width], [Height], [SATASlots], [M2Slots], [NVMe], [FormFactorID]) VALUES (5000, 4, N'ROG Strix B550-F Gaming', 2, 1, 2, 4, 128, 5100, 305, 244, 6, 2, 1, 4)
INSERT [dbo].[Motherboard] ([ID], [BrandID], [Model], [SocketID], [ChipsetID], [RAMTypeID], [RAMSlots], [MaxRAMCountGB], [MaxRAMFrequencyMHz], [Width], [Height], [SATASlots], [M2Slots], [NVMe], [FormFactorID]) VALUES (5001, 5, N'B660M DS3H AX', 4, 6, 2, 4, 128, 4800, 305, 244, 4, 1, 1, 4)
INSERT [dbo].[Motherboard] ([ID], [BrandID], [Model], [SocketID], [ChipsetID], [RAMTypeID], [RAMSlots], [MaxRAMCountGB], [MaxRAMFrequencyMHz], [Width], [Height], [SATASlots], [M2Slots], [NVMe], [FormFactorID]) VALUES (5002, 6, N'MAG B550 TOMAHAWK', 2, 1, 2, 4, 128, 5100, 305, 244, 6, 1, 1, 4)
SET IDENTITY_INSERT [dbo].[Motherboard] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [UserId], [TotalPrice], [Status], [Date]) VALUES (1, 1, CAST(85000 AS Decimal(18, 0)), N'Завершен', CAST(N'2024-03-11' AS Date))
INSERT [dbo].[Order] ([ID], [UserId], [TotalPrice], [Status], [Date]) VALUES (2, 2, CAST(120000 AS Decimal(18, 0)), N'В обработке', CAST(N'2025-04-08' AS Date))
INSERT [dbo].[Order] ([ID], [UserId], [TotalPrice], [Status], [Date]) VALUES (3, 3, CAST(65000 AS Decimal(18, 0)), N'Отправлен', CAST(N'2025-02-22' AS Date))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([ID], [OrderID], [ProductID], [Quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[OrderItem] ([ID], [OrderID], [ProductID], [Quantity]) VALUES (2, 1, 2, 1)
INSERT [dbo].[OrderItem] ([ID], [OrderID], [ProductID], [Quantity]) VALUES (3, 1, 5, 1)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Part] ON 

INSERT [dbo].[Part] ([ID], [CPUID], [GPUID], [SupplyID], [RAMID], [MotherboardID], [DiskID], [CoolingID], [CaseID], [Image], [QuantityInStock]) VALUES (1, 1000, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'https://c.dns-shop.ru/thumb/st4/fit/300/300/424deb3b18841a9597bc65d4ace552bf/200e4a08e74afcc3cf1d54d47b758cbbf14c71973a64009553347d2b234b5af4.jpg', 10)
INSERT [dbo].[Part] ([ID], [CPUID], [GPUID], [SupplyID], [RAMID], [MotherboardID], [DiskID], [CoolingID], [CaseID], [Image], [QuantityInStock]) VALUES (2, NULL, 2000, NULL, NULL, NULL, NULL, NULL, NULL, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLiu2azaW5fyNW-CmTvCRe-yG2moparEMDzw&s', 14)
INSERT [dbo].[Part] ([ID], [CPUID], [GPUID], [SupplyID], [RAMID], [MotherboardID], [DiskID], [CoolingID], [CaseID], [Image], [QuantityInStock]) VALUES (3, NULL, NULL, 3000, NULL, NULL, NULL, NULL, NULL, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMsbu4kn1zrGInPjI29-_Dw8idl4ZvzKN5nw&s', 15)
SET IDENTITY_INSERT [dbo].[Part] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([ID], [OrderID], [Amount], [Status]) VALUES (1, 1, CAST(85000 AS Decimal(18, 0)), N'Оплачен')
INSERT [dbo].[Payment] ([ID], [OrderID], [Amount], [Status]) VALUES (2, 2, CAST(60000 AS Decimal(18, 0)), N'Частичная оплата')
INSERT [dbo].[Payment] ([ID], [OrderID], [Amount], [Status]) VALUES (3, 3, CAST(65000 AS Decimal(18, 0)), N'Оплачен')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [PartID], [Price]) VALUES (1, 1, CAST(18000 AS Decimal(18, 0)))
INSERT [dbo].[Product] ([ID], [PartID], [Price]) VALUES (2, 2, CAST(35000 AS Decimal(18, 0)))
INSERT [dbo].[Product] ([ID], [PartID], [Price]) VALUES (3, 3, CAST(4500 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[RAM] ON 

INSERT [dbo].[RAM] ([ID], [BrandID], [Model], [RAMTypeID], [MemoryCountGB], [MemoryFrequencyMHz], [Count]) VALUES (4000, 10, N'Vengeance LPX 16GB', 2, 16, 3200, 2)
INSERT [dbo].[RAM] ([ID], [BrandID], [Model], [RAMTypeID], [MemoryCountGB], [MemoryFrequencyMHz], [Count]) VALUES (4001, 18, N'Fury Beast 32GB', 2, 32, 3200, 2)
INSERT [dbo].[RAM] ([ID], [BrandID], [Model], [RAMTypeID], [MemoryCountGB], [MemoryFrequencyMHz], [Count]) VALUES (4002, 19, N'Trident Z RGB 16GB', 2, 16, 3600, 2)
SET IDENTITY_INSERT [dbo].[RAM] OFF
GO
SET IDENTITY_INSERT [dbo].[RAMType] ON 

INSERT [dbo].[RAMType] ([ID], [Type]) VALUES (1, N'DDR3')
INSERT [dbo].[RAMType] ([ID], [Type]) VALUES (2, N'DDR4')
INSERT [dbo].[RAMType] ([ID], [Type]) VALUES (3, N'DDR5')
SET IDENTITY_INSERT [dbo].[RAMType] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'user')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'employee')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (3, N'admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Socket] ON 

INSERT [dbo].[Socket] ([ID], [Name]) VALUES (1, N'AM5')
INSERT [dbo].[Socket] ([ID], [Name]) VALUES (2, N'AM4')
INSERT [dbo].[Socket] ([ID], [Name]) VALUES (3, N'LGA 1851')
SET IDENTITY_INSERT [dbo].[Socket] OFF
GO
SET IDENTITY_INSERT [dbo].[Supply] ON 

INSERT [dbo].[Supply] ([ID], [BrandID], [Model], [Wattage], [Width], [Height], [Length], [FormFactorID]) VALUES (3000, 9, N'Pure Power 11 400W', 400, 150, 86, 140, 4)
INSERT [dbo].[Supply] ([ID], [BrandID], [Model], [Wattage], [Width], [Height], [Length], [FormFactorID]) VALUES (3001, 10, N'RM550x', 550, 150, 86, 160, 1)
INSERT [dbo].[Supply] ([ID], [BrandID], [Model], [Wattage], [Width], [Height], [Length], [FormFactorID]) VALUES (3002, 11, N'Focus GX-650', 650, 150, 86, 140, 4)
SET IDENTITY_INSERT [dbo].[Supply] OFF
GO
SET IDENTITY_INSERT [dbo].[SupportedFormFactorMotherboard] ON 

INSERT [dbo].[SupportedFormFactorMotherboard] ([ID], [CaseID], [FormFactorID]) VALUES (1, 8000, 4)
INSERT [dbo].[SupportedFormFactorMotherboard] ([ID], [CaseID], [FormFactorID]) VALUES (2, 8001, 4)
INSERT [dbo].[SupportedFormFactorMotherboard] ([ID], [CaseID], [FormFactorID]) VALUES (3, 8002, 4)
SET IDENTITY_INSERT [dbo].[SupportedFormFactorMotherboard] OFF
GO
SET IDENTITY_INSERT [dbo].[SupportedFormFactorSupply] ON 

INSERT [dbo].[SupportedFormFactorSupply] ([ID], [CaseID], [FormFactorID]) VALUES (2, 8000, 1)
INSERT [dbo].[SupportedFormFactorSupply] ([ID], [CaseID], [FormFactorID]) VALUES (3, 8000, 4)
INSERT [dbo].[SupportedFormFactorSupply] ([ID], [CaseID], [FormFactorID]) VALUES (4, 8001, 1)
SET IDENTITY_INSERT [dbo].[SupportedFormFactorSupply] OFF
GO
SET IDENTITY_INSERT [dbo].[SupportedSockets] ON 

INSERT [dbo].[SupportedSockets] ([ID], [CoolerID], [SocketID]) VALUES (1, 7000, 2)
INSERT [dbo].[SupportedSockets] ([ID], [CoolerID], [SocketID]) VALUES (2, 7000, 4)
INSERT [dbo].[SupportedSockets] ([ID], [CoolerID], [SocketID]) VALUES (3, 7000, 5)
SET IDENTITY_INSERT [dbo].[SupportedSockets] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Name], [Email], [Password], [RoleID]) VALUES (1, N'Иван Иванов', N'ivan@example.com', N'password123', 1)
INSERT [dbo].[User] ([ID], [Name], [Email], [Password], [RoleID]) VALUES (2, N'Петр Петров', N'petr@example.com', N'qwerty456', 1)
INSERT [dbo].[User] ([ID], [Name], [Email], [Password], [RoleID]) VALUES (3, N'Алексей Сидоров', N'alex@example.com', N'pass789', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Case]  WITH CHECK ADD  CONSTRAINT [FK_Case_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Case] CHECK CONSTRAINT [FK_Case_Brand]
GO
ALTER TABLE [dbo].[Case]  WITH CHECK ADD  CONSTRAINT [FK_Case_FormFactor] FOREIGN KEY([FormFactorID])
REFERENCES [dbo].[FormFactor] ([ID])
GO
ALTER TABLE [dbo].[Case] CHECK CONSTRAINT [FK_Case_FormFactor]
GO
ALTER TABLE [dbo].[Cooling]  WITH CHECK ADD  CONSTRAINT [FK_Cooling_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Cooling] CHECK CONSTRAINT [FK_Cooling_Brand]
GO
ALTER TABLE [dbo].[Cooling]  WITH CHECK ADD  CONSTRAINT [FK_Cooling_CoolerType] FOREIGN KEY([CoolerTypeID])
REFERENCES [dbo].[CoolerType] ([ID])
GO
ALTER TABLE [dbo].[Cooling] CHECK CONSTRAINT [FK_Cooling_CoolerType]
GO
ALTER TABLE [dbo].[CPU]  WITH CHECK ADD  CONSTRAINT [FK_CPU_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[CPU] CHECK CONSTRAINT [FK_CPU_Brand]
GO
ALTER TABLE [dbo].[CPU]  WITH CHECK ADD  CONSTRAINT [FK_CPU_Socket] FOREIGN KEY([SocketID])
REFERENCES [dbo].[Socket] ([ID])
GO
ALTER TABLE [dbo].[CPU] CHECK CONSTRAINT [FK_CPU_Socket]
GO
ALTER TABLE [dbo].[Disk]  WITH CHECK ADD  CONSTRAINT [FK_Disk_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Disk] CHECK CONSTRAINT [FK_Disk_Brand]
GO
ALTER TABLE [dbo].[Disk]  WITH CHECK ADD  CONSTRAINT [FK_Disk_DiskType] FOREIGN KEY([DiskTypeID])
REFERENCES [dbo].[DiskType] ([ID])
GO
ALTER TABLE [dbo].[Disk] CHECK CONSTRAINT [FK_Disk_DiskType]
GO
ALTER TABLE [dbo].[GPU]  WITH CHECK ADD  CONSTRAINT [FK_GPU_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[GPU] CHECK CONSTRAINT [FK_GPU_Brand]
GO
ALTER TABLE [dbo].[Motherboard]  WITH CHECK ADD  CONSTRAINT [FK_Motherboard_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Motherboard] CHECK CONSTRAINT [FK_Motherboard_Brand]
GO
ALTER TABLE [dbo].[Motherboard]  WITH CHECK ADD  CONSTRAINT [FK_Motherboard_Chipset] FOREIGN KEY([ChipsetID])
REFERENCES [dbo].[Chipset] ([ID])
GO
ALTER TABLE [dbo].[Motherboard] CHECK CONSTRAINT [FK_Motherboard_Chipset]
GO
ALTER TABLE [dbo].[Motherboard]  WITH CHECK ADD  CONSTRAINT [FK_Motherboard_FormFactor] FOREIGN KEY([FormFactorID])
REFERENCES [dbo].[FormFactor] ([ID])
GO
ALTER TABLE [dbo].[Motherboard] CHECK CONSTRAINT [FK_Motherboard_FormFactor]
GO
ALTER TABLE [dbo].[Motherboard]  WITH CHECK ADD  CONSTRAINT [FK_Motherboard_RAMType] FOREIGN KEY([RAMTypeID])
REFERENCES [dbo].[RAMType] ([ID])
GO
ALTER TABLE [dbo].[Motherboard] CHECK CONSTRAINT [FK_Motherboard_RAMType]
GO
ALTER TABLE [dbo].[Motherboard]  WITH CHECK ADD  CONSTRAINT [FK_Motherboard_Socket] FOREIGN KEY([SocketID])
REFERENCES [dbo].[Socket] ([ID])
GO
ALTER TABLE [dbo].[Motherboard] CHECK CONSTRAINT [FK_Motherboard_Socket]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__UserId__5AEE82B9] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__UserId__5AEE82B9]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK__OrderItem__Order__59063A47] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK__OrderItem__Order__59063A47]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK__Part__CoolingID__5441852A] FOREIGN KEY([CoolingID])
REFERENCES [dbo].[Cooling] ([ID])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK__Part__CoolingID__5441852A]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK__Part__CPUID__5535A963] FOREIGN KEY([CPUID])
REFERENCES [dbo].[CPU] ([ID])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK__Part__CPUID__5535A963]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK__Part__DiskID__5629CD9C] FOREIGN KEY([DiskID])
REFERENCES [dbo].[Disk] ([ID])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK__Part__DiskID__5629CD9C]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK__Part__GPUID__571DF1D5] FOREIGN KEY([GPUID])
REFERENCES [dbo].[GPU] ([ID])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK__Part__GPUID__571DF1D5]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK__Part__Motherboar__5812160E] FOREIGN KEY([MotherboardID])
REFERENCES [dbo].[Motherboard] ([ID])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK__Part__Motherboar__5812160E]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK__Part__RAMID__59063A47] FOREIGN KEY([RAMID])
REFERENCES [dbo].[RAM] ([ID])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK__Part__RAMID__59063A47]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK__Part__SupplyID__59FA5E80] FOREIGN KEY([SupplyID])
REFERENCES [dbo].[Supply] ([ID])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK__Part__SupplyID__59FA5E80]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK_Part_Case] FOREIGN KEY([CaseID])
REFERENCES [dbo].[Case] ([ID])
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK_Part_Case]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK__Payment__OrderID__5BE2A6F2] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK__Payment__OrderID__5BE2A6F2]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__PartID__5BE2A6F2] FOREIGN KEY([PartID])
REFERENCES [dbo].[Part] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__PartID__5BE2A6F2]
GO
ALTER TABLE [dbo].[RAM]  WITH CHECK ADD  CONSTRAINT [FK_RAM_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[RAM] CHECK CONSTRAINT [FK_RAM_Brand]
GO
ALTER TABLE [dbo].[RAM]  WITH CHECK ADD  CONSTRAINT [FK_RAM_RAMType] FOREIGN KEY([RAMTypeID])
REFERENCES [dbo].[RAMType] ([ID])
GO
ALTER TABLE [dbo].[RAM] CHECK CONSTRAINT [FK_RAM_RAMType]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Part] FOREIGN KEY([PartID])
REFERENCES [dbo].[Part] ([ID])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Part]
GO
ALTER TABLE [dbo].[Supply]  WITH CHECK ADD  CONSTRAINT [FK_Supply_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Supply] CHECK CONSTRAINT [FK_Supply_Brand]
GO
ALTER TABLE [dbo].[Supply]  WITH CHECK ADD  CONSTRAINT [FK_Supply_FormFactor] FOREIGN KEY([FormFactorID])
REFERENCES [dbo].[FormFactor] ([ID])
GO
ALTER TABLE [dbo].[Supply] CHECK CONSTRAINT [FK_Supply_FormFactor]
GO
ALTER TABLE [dbo].[SupportedFormFactorMotherboard]  WITH CHECK ADD  CONSTRAINT [FK_SupportedFormFactorMotherboard_FormFactor] FOREIGN KEY([FormFactorID])
REFERENCES [dbo].[FormFactor] ([ID])
GO
ALTER TABLE [dbo].[SupportedFormFactorMotherboard] CHECK CONSTRAINT [FK_SupportedFormFactorMotherboard_FormFactor]
GO
ALTER TABLE [dbo].[SupportedFormFactorSupply]  WITH CHECK ADD  CONSTRAINT [FK_SupportedFormFactor_Case] FOREIGN KEY([CaseID])
REFERENCES [dbo].[Case] ([ID])
GO
ALTER TABLE [dbo].[SupportedFormFactorSupply] CHECK CONSTRAINT [FK_SupportedFormFactor_Case]
GO
ALTER TABLE [dbo].[SupportedFormFactorSupply]  WITH CHECK ADD  CONSTRAINT [FK_SupportedFormFactor_FormFactor] FOREIGN KEY([FormFactorID])
REFERENCES [dbo].[FormFactor] ([ID])
GO
ALTER TABLE [dbo].[SupportedFormFactorSupply] CHECK CONSTRAINT [FK_SupportedFormFactor_FormFactor]
GO
ALTER TABLE [dbo].[SupportedSockets]  WITH CHECK ADD  CONSTRAINT [FK_SupportedSockets_Cooling] FOREIGN KEY([CoolerID])
REFERENCES [dbo].[Cooling] ([ID])
GO
ALTER TABLE [dbo].[SupportedSockets] CHECK CONSTRAINT [FK_SupportedSockets_Cooling]
GO
ALTER TABLE [dbo].[SupportedSockets]  WITH CHECK ADD  CONSTRAINT [FK_SupportedSockets_Socket] FOREIGN KEY([SocketID])
REFERENCES [dbo].[Socket] ([ID])
GO
ALTER TABLE [dbo].[SupportedSockets] CHECK CONSTRAINT [FK_SupportedSockets_Socket]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
